@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto";
  color: var(--body-text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header .container {
  display: flex;
  align-items: center;
  outline: 1px solid red;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
}
.nav__link-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 45px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  margin-right: 0;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.72;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    letter-spacing: 0.78;
    margin-right: 0;
  }
}
.logo__color {
  color: #2196f3;
}

.contacts {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.24px;
}
@media screen and (min-width: 1200px) {
  .contacts__text {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}
.mob-menu .container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 48px 0 48px 40px;
  background-color: #ffffff;
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-open {
  background: unset;
  border: none;
  font-size: 26px;
}

.mob-menu-list {
  margin-bottom: auto;
  margin-right: auto;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 36px;
}
.mob-menu-list__item:hover {
  fill: #2196f3;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mob-menu-list__link:hover {
  color: #2196f3;
}

.btn-close {
  position: absolute;
  border: none;
  background-color: #ffffff;
  top: 10px;
  right: 15px;
}
.btn-close:hover {
  fill: #2196f3;
}

.mob-menu-contacts {
  margin-bottom: 64px;
  margin-right: auto;
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mob-menu-contacts__link:hover {
  color: #2196f3;
}

.mob-menu-contacts__link_size_big {
  font-size: 34px;
  line-height: 1.18;
}

.mob-menu-contacts__link_size_small {
  font-size: 24px;
  line-height: 1.17;
}

.mob-menu-social {
  display: flex;
  margin-right: auto;
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mob-menu-social__item:not(:last-child) {
  margin-right: 10px;
  display: flex;
}
.mob-menu-social__item:not(:last-child)::after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
  margin-left: 10px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-logo.jpg");
}
.hero__title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}
.hero__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #f5f4fa;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: #2196f3;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits__icon {
  max-width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.benefits__uptitle {
  display: none;
}
.benefits__list {
  display: flex;
}
.benefits__item {
  max-width: 270px;
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.benefits__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  padding-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
}
.work__text__posicion {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.work__item {
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__item {
  margin-right: 30px;
  background-color: #ffffff;
  width: 270px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.team__function {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.social__icon:hover, .social__icon:focus {
  fill: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.clients__list {
  display: flex;
  justify-content: center;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.clients__item {
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients__icon {
  width: 106px;
  height: 60px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
}

.logo__footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.web__color {
  color: #2196f3;
}

.footer-nav {
  margin-top: 20px;
}
.footer-nav__mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-nav__mailto:last-child {
  margin-bottom: 0;
}
.footer-nav__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer-nav__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.socials {
  margin-left: 70px;
}
.socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.socials__list {
  display: flex;
}
.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.form {
  margin-left: 93px;
}
.form__block {
  display: flex;
}
.form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.form__input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}
.form__input:hover, .form__input:focus {
  border-color: #2196f3;
}
.form__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__send {
  width: 24px;
  height: 24px;
  background-color: #2196f3;
  fill: #ffffff;
  margin-left: 10px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition: transform 250ms linear;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.modal__field {
  margin-bottom: 10px;
  position: relative;
}
.modal__obiect {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__obiect:nth-child(4) {
  margin-bottom: 0;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__textarea {
  display: block;
  margin-top: 4px;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  pointer-events: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__ico {
  opacity: 0;
  fill: #ffffff;
}
.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  margin-bottom: 20px;
  resize: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 4px;
}
.modal__checkbox:checked + .modal__check {
  background-color: #2196f3;
  border: none;
}
.modal__checkbox:checked + .modal__check .modal__ico {
  opacity: 1;
}
.modal__text {
  text-decoration-line: underline;
  color: #2196f3;
}
.modal__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-left: 12px;
  margin-right: 8px;
}
.modal__button {
  width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: #ffffff;
  cursor: pointer;
}
.modal__close-icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close:hover {
  border-color: #2196f3;
}
.modal__close:hover .modal__close {
  fill: #2196f3;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.services__item {
  margin-right: 8px;
}
.services__item:last-child {
  margin-right: 0;
}
.services__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__button:hover, .services__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}

.collage {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.collage__item {
  max-width: 370px;
}
.collage__item:hover, .collage__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.collage__link:hover .collage__text {
  transform: translateY(0);
}
.collage__wrap {
  position: relative;
  overflow: hidden;
}
.collage__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.collage__frame {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.collage__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.collage__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: #757575;
}/*# sourceMappingURL=main.css.map */