
$body-text-color: #212121;
$main-background-color: #ffffff;
$hover-color: #2196f3;
$link-color: #757575;
$background-color-footer: #2f303a;
$footer-contact: rgba(255, 255, 255, 0.6);
$team-background-color: #f5f4fa;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');