:root{
    --akcent-color: #2196F3;
    --logo-color: #000;
    --main-color: #212121;
    --et-color:#757575;
    --title-color:#FFFFFF;
    --tem-background:#F5F4FA;
    --footer-backgroung:#2F303A;
    --adres-color:rgba(255,255,255,0.60);
    --line-color:#ECECEC;
    --borter-color:#EEEEEE;
}
body {
    font-family: 'Roboto', sans-serif;
}
.title-link{
    color: var(--akcent-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.36;
letter-spacing: 0.78px;
}
.caption-link{
    color: var(--title-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.title-item{
    color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.36;
letter-spacing: 0.78px;
}
.caption1-list :hover{
color: var(--akcent-color);
}
    .caption1-list{
color: var(--main-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px
    }


.headline-list{
    color: var(--et-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.tagline{
    background: var(--footer-backgroung);
}
.tagline-title{
    color: var(--title-color);
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;

}
.tagline-button{
    color: var(--tem-background);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    background: #2196F3
}
.headline1-btn :hover{
background: var(--akcent-color);
}
.headline1-btn {
    color: var(--main-color);
font-size: 14px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.subtitle-text{
    color: var(--et-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.subtitle-item{
    color: var(--main-color);
 font-size : 14px;
font-weight: 700;
line-height: 1.18;
letter-spacing: 1.08px;
}

.footer-link{
    color: var(--akcent-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.36;
letter-spacing: 0.78px;
}

.footer-item{
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.78px;
}
.heading-list{
   color: var(--et-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.footer{
    background: var(--footer-backgroung);
}
.headline-list :hover{
color: var(--akcent-color);
}
.advantages-item{
    color: var(--logo-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px; 
}
.subject-item{
color: var(--logo-color);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

